{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "ignorePatterns": [
    "__test__/*",
    "__tests__/*",
    "coverage/*",
    "dist",
    "example",
    "package.json",
    "package-lock.json",
    "tsconfig.json",
    "tsconfig.prod.json",
    "tsconfig.eslint.json"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "plugins": ["@typescript-eslint", "prettier", "import"],
  "rules": {
    "max-len": [
      "error",
      {
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "code": 120
      }
    ],
    "no-console": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_.+$",
        "argsIgnorePattern": "^_.+$"
      }
    ],
    "import/extensions": ["off"],
    "@typescript-eslint/consistent-type-imports": ["error", { "prefer": "type-imports" }]
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  }
}
